* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

@font-face {
    font-family: "fonde";
    src: url(FontsFree-Net-fonde.ttf);
}

:root {
    --primary-color: #6E59A4;
    --secondary-color: #FFBB47;
}

.Cor {
    height: 2800px;
    background-color: #FFF9F5;
}

.logo {
    margin-top: 26px;
    width: 84px;
}

main {
    font-family: Poppins;
    color: #FFF;
}

section {
    font-family: Poppins;
    color: #FFF
}

.hamburguer {
    margin-top: 31px;
    width: 6.4%;
}

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    width: 85%;
    align-items: center;
}

.Titulo {
    color: #19183A;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #19183A;
    font-family: fonde;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: 1.8px;
}

#Titulo1 {
    margin: 69px 25.06% 16px 6.93%;
    width: 68%;
}

#Titulo2 {
    margin: 120px 4.53% 48px 6.93%;
}

.text {
    color: #19183A;
    font-size: 16px;
    opacity: 0.5;
}

#text1 {

    margin: 0px 12.5% 30px 7.46%;

}



.button {
    display: flex;
    flex-direction: row;
    width: 145px;
    height: 51px;
    background: #FFBB47;
    border-radius: 30px;
}

.PrimeiraImagem {
    width: 100%;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
    height: 426px;
}

.quadradoRoxo {
    width: 157px;
    height: 147px;
    border-radius: 10px;
    background: #6E59A4;
    margin: 0px 3.46% -120px 54.66%;
    position: relative;
    z-index: 3;
}

.textQuadradoRoxo2 {
    font-size: 20px;
}

.textQuadradoRoxo {
    font-size: 14px;
    opacity: 0.5;
}

.BolaCadeado {
    padding-top: 22px;
}

.elementos {
    margin: 0px 28.66% 0px 14.01%;
}

#botao1 {
    margin: 0px 53.8% 0px 7.46%;
}

.LinhaTracejada {
    position: relative;
    z-index: 2;
    width: 30.26%;
    height: 197px;
    margin: 0px 1% -235px 27.4%;
}

.InfoRoxa {
    width: 91.73%;
    position: relative;
    z-index: 4;
    height: 196px;
    border-radius: 10px;
    background: #19183A;
    margin: -220px 4.26% 0px 4.26%;
}

.secao1Info {
    display: flex;
    gap: 16px;
}

.textInfo {
    color: #FFF;
    font-size: 12px;
    line-height: 22px;
    opacity: 0.5;
}

.bola {
    width: 52px;
    height: 52px;
}

.TituloInfoRoxa {
    color: #FFF;
    -webkit-text-stroke-width: 0.30000001192092896;
    -webkit-text-stroke-color: #000;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.22px;
}

.text2 {
    font-size: 14px;
    padding: 15px 15px 15px 20px;
}

.linhaTracejada2{
    margin: 30px 0px 0px 181px;
}

.LinhaTracejada3{
    position: relative;
    margin: 0px 46.66%  -215px 36.33%;
}

.QuadradoRoxo3{
    position: relative;
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background: #C0B5DE;
    margin: -27px 11.2% 0px 80%;
}
.bannerLinha{
    position: relative;
    margin: 0px 39.73% -230px 0%;
}

.seta {
    height: 20px;
    width: 20px;
    padding: 15px 0px 16px 0px;
}

#text3 {
    color: #FFF;
    font-size: 14px;
    opacity: 0.5;
    line-height: 22px;
    padding: 12px 45.22% 0px 14.01%;
}

.SubTitulo {
    font-size: 20px;
    line-height: 22px;
    padding: 4px 28.6% 0px 14.01%;
}

.ImageProduto2 {
    width: 93.33%;
    margin: 0px 24.87px 0px 21.13px;
}

.linha1 {
    display: flex;
    gap: 30px;
}

.linha2 {
    display: flex;
    gap: 22px;
    margin-top: 19px;
}

.posInfoRoxa {
    justify-content: center;
    padding: 35px 8.72% 0px 8.72%;
}

.secao1 {
    display: flex;
}




.tituloInformacoes {
    color: #FFF;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.22px;
}

#titulo1 {
    padding: 32px 56.68% 0px 0px;
}

#text4 {
    margin: 48px 13.86% 0px 6.93%;
}

#botao2 {
    margin: 30px 54.4% 0px 6.93%;
}

.foto {
    width: 98.66%;
    margin: 30px 1.33% 0px 0px;
}

.Produto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#pos3 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.Produto2 .linha1 {
    display: flex;
    flex: row;
}

.Produto1 {
    width: 276px;
    height: 321px;
    border-radius: 10px;
    background: #C0B5DE;
}

#primeiro {
    margin: 120px 46px 0px 52px;
}

.cadeadoRoxo {
    width: 11.55%;
    padding: 48px 11.91% 28px 10.83%;
}

.textBanner1 {
    font-size: 10px;
    line-height: 14.699px;
    opacity: 0.8;
}

.textBanner2 {

    font-size: 14px;
    line-height: 14.699px;
}

.quadradoAmarelo{
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background: #FFBB47;
    margin:-10px 0px 0px 25px ;
}

.textsBanner {
    padding-top: 13.36px;
}

.fundoProduto {
    height: 333px;
    width: 66.24%;
    margin: -225px 0px 0px 0px;
}

.posicaoBanner {
    display: flex;
}

.LinhaCurology {
    margin-top: -213px;
    margin-left: 9px;
    margin-right: 40px;
    height: 208px;
}

.posicaoCurology3 {
    display: flex;
    height: 235px;
    width: 62.66%;
    margin: 0px 4.53% 0px 19%;
}

.teste {
    display: flex;
}

#PrimeiroTexto {
    width: 75.45%;
    padding: 0px 13.71% 0px 10.83%;
    font-size: 20px;
    line-height: 28px;
}

#PrimeiroPreco {
    font-size: 36px;
    line-height: 28px;
    padding: 26px 54.15% 38px 10.83%;
}

.buttonBuyMe {
    margin: 0px 57.03% 35px 10.83%;
    width: 89px;
    height: 32px;
    font-size: 12px;
    line-height: 28px;
    border-radius: 30px;
    background: #FFBB47;
}

.textBuyMe {
    width: 45px;
    height: 28px;
    padding: 2px 22px 2px 22px;
}

#segundo {
    margin: 278px 46px 0px 55px;
}

#SegundoTexto {
    width: 79.78%;
    height: 56px;
    font-size: 20px;
    padding: 0px 11.19% 0px 9.02%;
}

#terceiro {
    margin: 290px 12.26% 136px 13.33%;
}

.Cor2 {
    margin-top: 1050px;
    height: 1268px;
    width: 100%;
    border-radius: 10px;
    background-color: #6E59A4;
}

.TituloTextos {
    padding: 53px 24.8% 0px 6.93%;
    color: #FFF;
    width: 67.56%;
    font-family: fonde;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1.8px;
}

.Separacao {
    display: flex;
    gap: 25.75px;
    margin: 36px 0px 0px 26px;
}

#Certo1 {
    padding-bottom: 30px;
}

#Certo2 {
    height: 16px;
    margin-top: 5px;
}

.SubTituloTopicos {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

#Sub1 {
    width: 67.13%;
}

.TextoTopicos {
    margin: 16px 82px 30px 68px;
    font-size: 14px;
    width: 60%;
    line-height: 26px;
    opacity: 0.6;
}

.foto-produto-4{
    margin: 0px 7.53% 0px 7.2%;
}

#banner4{
    margin: -50px 52.53% 0px 1.6%;
}

.linha-tracejada-5{
    margin: -50     px 33.86% 0px 47.7%;
}
.Separacao2 {
    display: flex;
    gap: 25.75px;
}

#Sub2 {
    width: 59.49%;

}

#TextTop3 {
    width: 68.53%;
}

#Sub4 {
    width: 59.2%;
}

#Titulo2 {
    margin-bottom: 16px;
}

#text5 {
    width: 88.53%;
    margin: 0px 4.53% 0px 6.93%;
}

#botao2 {
    margin: 30px 54.4% 0px 6.93%;
}

.ProdutoFoto3 {
    width: 77.6%;
    padding: 15.2px 15.12% 0px 7.2%;
}

#Titulo3 {
    margin: 120px 11.46% 0px 5.86%;
}

#text6 {
    width: 91.73%;
    margin: 16px 5.06% 0px 5.86%;
}

.imagem2 {
    width: 36%;
    height: 28%;

}

.imagem1 {
    width: 36%;
    height: 28%;
    margin-left: 14%;
}

.imagensSecao6 {
    display: flex;
    gap: 15px;
    margin-top: 62px;
}

#banner3{
    margin: 0px 1.86% -92px 52.26%;
}

.imagem3 {
    margin: 16.26% 1.6% 0px 6.93%;
    width: 91.46%;
    height: 97.33%;
}

#Titulo4 {
    margin: 71.45px 0px 0px 6.66%;
}

#text7 {
    margin: 16px 4.8% 0px 6.66%;
}


.topicoWrap1 {
    display: flex;
    gap: 18px;
}

.topicoWrap2 {
    display: flex;
    gap: 18px;
}

.LinhaWrap {
    display: flex;
    gap: 34px;
    margin-bottom: 16px;
}

#LinhaWrap2 {
    gap: 30px;
}

#LinhaWrap3 {
    gap: 38px;
}

.TopicosWrap {
    margin: 16px 21.06% 0px 6.66%;
}

.imagemSecao7 {
    width: 96.26%;
    margin: 76px 4% 0px 4%;
}

.quadradoRoxo5 {
    margin: -10px 6.13% 0px 85.86%;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: #C0B5DE;
}

#Titulo5 {
    margin: 76px 8.66% 0px 6.66%;
}

#text8 {
    margin: 23px 7.73% 0px 11.73%;
}

#text9 {
    margin: 16px 40.8% 0px 6.66%;
}

.Bolas {
    margin: 18px 80.26% 0px 6.66%;
}

.secao8{
    display: flex;
    flex-direction: column;
}
.FotoSecao8 {
    margin-top: -20px;
    width: 100%;
    margin-bottom: 84.77px;
}

footer {
    background-color: #19183A;
    width: 100%;
    font-family: Poppins;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

.LogoFooter {
    margin: 50px 59.2% 16px 6.66%;
}

.textFooter {
    font-size: 14px;
    line-height: 26px;
    opacity: 0.5;
}

#textFooter1 {
    margin: 0px 9.6% 16px 6.66%;
}

.TittleFooter {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 700;
}

.footer2 {
    display: flex;
    gap: 72px;
    margin: 0px 10.4% 30px 6.4%;
}

.SubFooter {
    font-size: 14px;
    opacity: 0.8;
}

.textList {
    font-size: 14px;
    opacity: 0.3;
}

.productSection {
    display: flex;
    flex-direction: column;
}

#textList4 {
    margin-bottom: 16px;
}

#textList5 {
    margin-bottom: 36px
}

#textList6 {
    margin-bottom: 23px;
}

#TittleFooter4 {
    margin-bottom: 16px;
}

.TextSubscribe {
    font-size: 14px;
}

.Email {
    width: 203px;
    height: 46px;
    border-radius: 30px;
    background: #FFF;
}

.TextEmail {
    color: #000;
    font-size: 14px;
    opacity: 0.3;
    padding: 13px 84px 12px 20px;
}

.Join {
    width: 110px;
    height: 46px;
    background: #FFBB47;
    border-radius: 30px;
}

#TextJoin {
    padding: 13px 40px 12px 41px;
}

.Buttons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.footer3 {
    margin: 0px 5.6% 38px 6.66%;
}

.LinhaFooter {
    width: 94.4%;
    margin: 0px 2.93% 16px 2.93%;
}

.CurologyBanner {
    width: 172px;
    height: 60px;
    border-radius: 6.681px;
    background: #FFBB47;
    position: relative;
}

.cadeadoBanner {
    width: 28px;
    height: 28px;
    padding: 15.37px 12.46% 0px 9.70%;
}

#banner1 {
    margin: 67px 51.73% -63px 3.8%;
}

#banner2 {
    margin: -40px ;
}

.Referencias {
    font-size: 10px;
    letter-spacing: 0.2px;
    opacity: 0.5;
    margin: 0px 25.33% 0px 25.33%;
    padding-bottom: 20px;
}

.footer5{
    display: none;
}

.imagemSecao7-1{
    display: none;
}

@media(min-width:1440px){
    footer{   
        height: 530px;
    }

    .text{
        font-size: 18px;
        line-height: 36px;
    }

    .Titulo{
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #19183A;
    font-size: 52px;
    line-height: 64px; 
    letter-spacing: 2.6px;
    }

    #textFooter1{
        width: 360px;
    }

    .posicao-footer{
        flex-direction: row;
    }

    .footer2{
        margin: 75px 0px -100px 0px;
    }

    .footer1{
        margin-left: 83px;
    }

    .footer3{
        margin-left: -130px;
    }

    .footer5{
        margin-top:70px ;
        display: block  ;
    }

    #TittleFooter4{
        display: none;
    }

    #TittleFooter5{
        margin-top: 75px;
    }

    #TittleFooter6{
        margin-top: 30px ;
    }

    #rede-social1{
        display: none;
    }

    .gap{
        display: flex;
        gap:203px
    }

    .Email{
        margin-top: 15px;
        width: 269px;
    }

    .LinhaFooter2{
        display: flex;
        width: 90.27%;
        margin: 0px 70px 0px 70px;
        
    }
    .Join{
        margin-top: 15px;
    }

    .footer4{
        display: none;
    }

    .Referencias2{
        display: flex;
    font-size: 14px;
    letter-spacing: 0.28px;
    opacity: 0.5;
    margin-top: 25px;
    justify-content: center;
    }

    .secao8{
        flex-direction: row;
        gap: 120px;
        margin-bottom: 108px;
    }

    #text8{
        margin: 15px 0px  0px 9%;
        width: 561px;
        font-size: 26px;
        line-height: 38px;
        font-weight: 500;
    }

    .FotoSecao8{
        width: 628px;
        margin: -50px 0px 0px 0px;
    }

    #text9{
        font-size: 16px;
    }
    .secao8Parte1{
        margin-left: 3%;
    }
  
    #Titulo5{
        width: 516px;
    }

    .imagemSecao7{
        display: none;
    }
    .imagemSecao7-1{
        display: block;
        margin: 74px 7.84% 74px 3.33%;
    }

    .secao7{
        display: flex;
        background-color: #FFF9F5;
        margin-bottom: 180px;
    }

    .secao7-parte2{
        margin-top: 50px;
    }

    #Titulo4{
        width: 80%;
        margin-left: 0px;
    }

    #text7{
        width: 80%;
        margin: 0px;
    }

    .TopicosWrap{
        margin-left: 0px;
        font-size: 16px;
    }

    #textWrap1{
        font-size: 16px;
    }

    #textWrap2{
        font-size: 16px;
    }

    #textWrap3{
        font-size: 16px;
    }

    #textWrap4{
        font-size: 16px;
    }

    .produtos{
        display: flex;
        flex: row;
    }
}